:root {
    --color1: rgba(4, 67, 137, 1);
    --color2: rgba(252, 255, 75, 1);
    --color3: rgba(255, 173, 5, 1);
    --color4: rgba(124, 175, 196, 1);
    --color5: rgba(89, 149, 237, 1);
}

.swaggerBase {
    font-weight: 400;
}

.methodBox {
    font-size: 24px;
    font-weight: 700;
    min-width: 120px;
    text-align: center;
    border-radius: 3px;
    background: var(--color3);
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    font-family: Titillium Web,sans-serif;
    color: #fff;
    padding: 6px 10px;

}

.tag {
    padding: 20px;
    font-size: 26px;
}

.tagHeading {
    font-weight: bold;
}

.tagDescription {
    font-weight: 400;
    display: block;
    padding-top: 32px;
}

.methodPath {
    padding-left: 20px;
}

.methodHeading {
    font-size: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-top: 30px;
    padding-left: 0px;
    font-weight: bold;
}

.method {
    border-radius: 3px;
    border: 0px solid black;
    padding: 0px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.methodDescription {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}


.methodSummary {
    padding-left: 20px;
    padding-right: 20px;
}

.pathHeading {
    font-size: 24px;
    font-weight: 400;
    padding: 0 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: Open Sans,sans-serif;
    color: #3b4151;

    border-color: black;
    border-bottom: 1px solid;
}

.path {
    abackground-color: ghostwhite;
}

.pathHeading span {
    font-weight: bold;
}

.pathHeading small {
    padding: 0px 10px;
}

.paramsTable th {
    text-align: left;
}

.paramsTable th:not(:first-child){
    padding-left: 100px;
}


.paramsTable td {
    vertical-align: top;
}

.paramsTable td:not(:first-child){
    padding-left: 100px;
}

.paramsTable td .objectTypeName {
    padding: 4px;
}

.paramsTable h4 {
    padding-left: 20px;
}

.paramsTable table td {
    padding-left: 20px;
}

.paramsTable table td:last-child {
    width: 100%;
}

.paramsTable table {
    width: 100%;
}

.paramsTable table td * {
    padding-left: 0px;
    color: black;
}

.paramsTable thead {
    font-style: italic;
}

.elementName {
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}


.elementType {
    font-weight: normal;
    font-style: oblique;
}

.objectType {
    color: black;
    display: inline;
    width: 100%;
}

.objectType td:not(:first-child){
    padding-left: 0px;
}

.objectTypeHead {
    width: 100%;
    background-color: white;
    display: block;
}

.objectTypeName {
    vertical-align: top;
}

.primitiveType {
    display: inline;
}

.responses {
    padding-left: 20px;
}

.requestBodyContainer {}